:root {
    --red_900: 126, 25, 21;
    --red_800: 153, 30, 26;
    --red_700: 174, 34, 30;
    --red_600: 201, 40, 34;
    --red_500: 219, 47, 41;
    --red_400: 223, 73, 67;
    --red_300: 227, 94, 89;
    --red_200: 231, 119, 115;
    --red_100: 235, 141, 137;
    --red_50: 255, 230, 230;
    --red_0: 255, 255, 255;
    --orange_900: 126, 74, 21;
    --orange_800: 153, 89, 26;
    --orange_700: 174, 102, 30;
    --orange_600: 201, 117, 34;
    --orange_500: 219, 130, 41;
    --orange_400: 223, 145, 67;
    --orange_300: 227, 158, 89;
    --orange_200: 231, 173, 115;
    --orange_100: 235, 186, 137;
    --orange_50: 255, 242, 230;
    --orange_0: 255, 255, 255;
    --yellow_900: 126, 116, 21;
    --yellow_800: 153, 140, 26;
    --yellow_700: 174, 160, 30;
    --yellow_600: 201, 184, 34;
    --yellow_500: 219, 201, 41;
    --yellow_400: 223, 208, 67;
    --yellow_300: 227, 213, 89;
    --yellow_200: 231, 220, 115;
    --yellow_100: 235, 225, 137;
    --yellow_50: 255, 252, 230;
    --yellow_0: 255, 255, 255;
    --green_900: 21, 126, 65;
    --green_800: 26, 153, 79;
    --green_700: 30, 174, 90;
    --green_600: 34, 201, 103;
    --green_500: 41, 219, 115;
    --green_400: 67, 223, 132;
    --green_300: 89, 227, 147;
    --green_200: 115, 231, 164;
    --green_100: 137, 235, 178;
    --green_50: 230, 255, 240;
    --green_0: 255, 255, 255;
    --teal_900: 21, 126, 116;
    --teal_800: 26, 153, 140;
    --teal_700: 30, 174, 160;
    --teal_600: 34, 201, 184;
    --teal_500: 41, 219, 201;
    --teal_400: 67, 223, 208;
    --teal_300: 89, 227, 213;
    --teal_200: 115, 231, 220;
    --teal_100: 137, 235, 225;
    --teal_50: 230, 255, 252;
    --teal_0: 255, 255, 255;
    --blue_900: 21, 79, 126;
    --blue_800: 26, 96, 153;
    --blue_700: 30, 109, 174;
    --blue_600: 34, 126, 201;
    --blue_500: 41, 139, 219;
    --blue_400: 67, 153, 223;
    --blue_300: 89, 165, 227;
    --blue_200: 115, 179, 231;
    --blue_100: 137, 191, 235;
    --blue_50: 230, 244, 255;
    --blue_0: 255, 255, 255;
    --indigo_900: 21, 37, 126;
    --indigo_800: 26, 45, 153;
    --indigo_700: 30, 51, 174;
    --indigo_600: 34, 59, 201;
    --indigo_500: 41, 68, 219;
    --indigo_400: 67, 91, 223;
    --indigo_300: 89, 110, 227;
    --indigo_200: 115, 133, 231;
    --indigo_100: 137, 152, 235;
    --indigo_50: 230, 233, 255;
    --indigo_0: 255, 255, 255;
    --purple_900: 63, 21, 126;
    --purple_800: 77, 26, 153;
    --purple_700: 88, 30, 174;
    --purple_600: 101, 34, 201;
    --purple_500: 112, 41, 219;
    --purple_400: 130, 67, 223;
    --purple_300: 144, 89, 227;
    --purple_200: 162, 115, 231;
    --purple_100: 176, 137, 235;
    --purple_50: 240, 230, 255;
    --purple_0: 255, 255, 255;
    --pink_900: 126, 21, 56;
    --pink_800: 153, 26, 68;
    --pink_700: 174, 30, 78;
    --pink_600: 201, 34, 90;
    --pink_500: 219, 41, 100;
    --pink_400: 223, 67, 119;
    --pink_300: 227, 89, 135;
    --pink_200: 231, 115, 154;
    --pink_100: 235, 137, 170;
    --pink_50: 255, 230, 238;
    --pink_0: 255, 255, 255
    }
